*{
    margin: 0;
    padding: 0;
}

#bt_menu{
    display: none;
}

.menu{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    width: 100%;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    float: left;
    width: 250px;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul ul li{
    background-color: black;
    float: none;
    border: solid 1px  #ffffff;
}

.menu ul ul li a{
    background-color: #f3f3f3;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #a45e4d;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a{
    display: block;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

label[for="bt_menu"]{
    background-color: #222;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    font-family:"Arial";
    padding: 5px;
    text-align: center;
    width: 50px;
    height: 50px;

}

label[for="bt_menu"]{
    display: none;
}

@media (max-width:800px){

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    label[for="bt_menu"]{
        display: block;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}